
/*
 * MESSAGES STYLE
 *
 * Add sensible messages styling.
 */


  div.messages, /* Important messages (status, warning, and error) for the user */
  div.status,
  div.warning,
  div.error
  {
    min-height: 21px;
    margin: 0 1em 5px 1em;
    border: 2px solid #ff7;
    padding: 5px 5px 5px 35px;
    color: #000;
    background-color: #ffc;
    background-image: url(images/messages-status.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    font-style: italic;
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning /* Medium priority messages */
  {
    border-color: #fc0;
    background-image: url(images/messages-warning.png);
  }

  div.warning,
  tr.warning,
  body.section-admin tr.warning
  {
    color: #000; /* Drupal core uses #220 */
    background-color: #ffc;
  }

  div.error /* High priority messages. See also the .error declaration below. */
  {
    /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
    border-color: #c00;
    background-image: url(images/messages-error.png);
  }

  div.error,
  tr.error,
  body.section-admin tr.error
  {
    color: #900; /* Drupal core uses #200 */
    background-color: #fee;
  }

  div.messages ul
  {
    margin-top: 0;
    margin-bottom: 0;
  }
